@page
@model Final3.Pages.Players.IndexModel
@{
    ViewData["Title"] = "Players";
}

<h1>Players</h1>


<div class="row mb-3">
    <form class="d-flex" role="search" asp-page="./Index" method="get">
        <div class="col-4">
            <div class="input-group">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
            <input class="form-control" type="search" name="SearchString" value="@Model.SearchString" placeholder="Search by Player or Game" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
            </div>
        </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-SortOrder="@ViewData["NameSort"]" asp-route-SearchString="@Model.SearchString" asp-route-PageNum="@Model.PageNum">Player Name</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-SortOrder="@ViewData["HoursSort"]" asp-route-SearchString="@Model.SearchString" asp-route-PageNum="@Model.PageNum">Hours Played</a>
            </th>
            <th>Favorite Game</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Players != null && Model.Players.Any())
        {
            @foreach (var player in Model.Players)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.HoursPlayed</td>
                    <td>@player.FavoriteGame</td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No players found.</td>
            </tr>
        }
    </tbody>
</table>


<hr />
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @(Model.PageNum <= 1 ? "disabled" : "")">
        <a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum - 1)" asp-route-SortOrder="@Model.SortOrder" asp-route-SearchString="@Model.SearchString">Previous</a>
        </li>
        <li class="page-item @(Model.PageNum >= Model.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)" asp-route-SortOrder="@Model.SortOrder" asp-route-SearchString="@Model.SearchString">Next</a>
        </li>
    </ul>
</nav>
